<div class="container">
<h1>Kontakt</h1>
        <section class="intro-section">
              <h2>Informacije</h2>
            <div class="row">
                <div class="col-sm-6">
                    <article >
                        <h3>O nama</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quo labore, aut dolore sapiente necessitatibus, harum tempora eius magnam officiis aliquid numquam incidunt eaque minima, eveniet autem consectetur asperiores perspiciatis!</p>

                    </article>
                </div>
                <div class="col-sm-6">
                    <!-- 16:9 aspect ratio -->
                    <div  class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2902.7809586538788!2d21.906326415486987!3d43.318844579134094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4755b0b93424a5ab%3A0x49b03fc6aaf4952a!2zQnVsZXZhciBEciBab3JhbmEgxJBpbsSRacSHYSAyNCwgTmnFoQ!5e0!3m2!1sen!2srs!4v1508850798077" width="600" height="450"  style="border:0" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>

          </section>
          <section class="form-section clearfix">
            <h2 class="text-center">Pitajte nas</h2>
            <div class="col-sm-6 col-sm-offset-3">
              <form>
              <div class="form-group">
                <label for="UserName">Ime*</label>
                <input class="form-control" type="text" name="UserName" id="UserName" required>
              </div>
              <div class="form-group">
                <label for="UserEmail">email*</label>
                <input class="form-control" type="email" name="UserEmail" id="UserEmail" required>
              </div>
              <div class="form-group">
                <label for="UserMessage">Poruka*</label>
                <textarea  class="form-control" name="UserMessage" id="UserMessage" required></textarea>

              </div>
              <button type="submit" class="btn btn-warning  btn-block">Posalji</button>

            </form>
          </div>
          </section>
        </div>
